
CMakeLists.txt.user
stb_image.h
stb_image.cpp
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/CMakeFiles/d/2be72b54dd2736f5c1ea7d30b543b102a85d28aa3bf3b7bed8feaf6de05495c7.d
/cmake-build-debug/CMakeFiles/3.27.8/CompilerIdCXX/a.out
/cmake-build-debug/CMakeFiles/Ray-tracing_autogen.dir/AutogenInfo.json
/cmake-build-debug/CMakeFiles/Ray-tracing_autogen.dir/AutogenUsed.txt
/cmake-build-debug/CMakeFiles/Ray-tracing.dir/Objects_classes/AxisAlignedBoundingBox.cpp.o
/cmake-build-debug/build.ninja
/cmake-build-debug/CMakeFiles/Ray-tracing.dir/Objects_classes/BVH_Node.cpp.o
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-0e4a302e2ddbbc9a58e3.json
/cmake-build-debug/CMakeFiles/Ray-tracing.dir/Camera.cpp.o
/cmake-build-debug/CMakeFiles/clean_additional.cmake
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/3.27.8/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.27.8/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-5e446c446594d2ec1b91.json
/cmake-build-debug/CMakeFiles/3.27.8/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-2f910026f5071d90ed9b.json
/cmake-build-debug/Ray-tracing_autogen/deps
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-977f15d77b5d003f7780.json
/cmake-build-debug/CMakeFiles/Ray-tracing.dir/Engine_classes/Engine.cpp.o
/cmake-build-debug/CMakeFiles/Ray-tracing.dir/Engine_classes/enginecamera.cpp.o
/cmake-build-debug/CMakeFiles/Ray-tracing.dir/Entity.cpp.o
/cmake-build-debug/CMakeFiles/Ray-tracing.dir/FrameBuffer.cpp.o
/cmake-build-debug/CMakeFiles/Ray-tracing.dir/Engine_classes/gridline.cpp.o
/cmake-build-debug/CMakeFiles/Ray-tracing.dir/HitRecord.cpp.o
/cmake-build-debug/imageRender-frame.ppm
/cmake-build-debug/imageRender-test.ppm
/cmake-build-debug/CMakeFiles/Ray-tracing.dir/ImageRenderer.cpp.o
/cmake-build-debug/CMakeFiles/Ray-tracing.dir/imgui/imgui.cpp.o
/cmake-build-debug/imgui.ini
/cmake-build-debug/CMakeFiles/Ray-tracing.dir/imgui/imgui_demo.cpp.o
/cmake-build-debug/CMakeFiles/Ray-tracing.dir/imgui/imgui_draw.cpp.o
/cmake-build-debug/CMakeFiles/Ray-tracing.dir/imgui/backends/imgui_impl_glfw.cpp.o
/cmake-build-debug/CMakeFiles/Ray-tracing.dir/imgui/backends/imgui_impl_opengl3.cpp.o
/cmake-build-debug/CMakeFiles/Ray-tracing.dir/imgui/imgui_tables.cpp.o
/cmake-build-debug/CMakeFiles/Ray-tracing.dir/imgui/imgui_widgets.cpp.o
/cmake-build-debug/.cmake/api/v1/reply/index-2024-01-30T00-39-58-0217.json
/cmake-build-debug/CMakeFiles/Ray-tracing.dir/Interval.cpp.o
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/CMakeFiles/Ray-tracing.dir/Engine_classes/lightsource.cpp.o
/cmake-build-debug/CMakeFiles/Ray-tracing.dir/main.cpp.o
/cmake-build-debug/Ray-tracing_autogen/moc_predefs.h
/cmake-build-debug/Ray-tracing_autogen/mocs_compilation.cpp
/cmake-build-debug/CMakeFiles/Ray-tracing.dir/Ray-tracing_autogen/mocs_compilation.cpp.o
/cmake-build-debug/CMakeFiles/Ray-tracing.dir/Objects_classes/Objects_List.cpp.o
/cmake-build-debug/CMakeFiles/Ray-tracing_autogen.dir/ParseCache.txt
/cmake-build-debug/CMakeFiles/Ray-tracing.dir/Engine_classes/pointlightsource.cpp.o
/cmake-build-debug/CMakeFiles/Ray-tracing.dir/Engine_classes/primitives.cpp.o
/cmake-build-debug/.qt/QtDeploySupport.cmake
/cmake-build-debug/CMakeFiles/Ray-tracing.dir/Ray.cpp.o
/cmake-build-debug/Ray-tracing
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/CMakeFiles/Ray-tracing.dir/Engine_classes/scenegraph.cpp.o
/cmake-build-debug/CMakeFiles/Ray-tracing.dir/Engine_classes/shader.cpp.o
/cmake-build-debug/CMakeFiles/Ray-tracing.dir/Engine_classes/stb_image.cpp.o
/cmake-build-debug/.cmake/api/v1/reply/target-Ray-tracing-Debug-48d64d4c5a1a9c4f4ea8.json
/cmake-build-debug/.cmake/api/v1/reply/target-Ray-tracing_autogen-Debug-fe6ca15c8ab68c83c7cf.json
/cmake-build-debug/.cmake/api/v1/reply/target-Ray-tracing_autogen_timestamp_deps-Debug-7eb9e3aa95077bb24c52.json
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/CMakeFiles/Ray-tracing.dir/Texture.cpp.o
/cmake-build-debug/CMakeFiles/Ray-tracing.dir/texture.cpp.o
/cmake-build-debug/Ray-tracing_autogen/timestamp
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-eec3c6f8ee9fa233d5e3.json
/cmake-build-debug/CMakeFiles/Ray-tracing.dir/Objects_classes/Triangle.cpp.o
/cmake-build-debug/CMakeFiles/Ray-tracing.dir/Objects_classes/TriangleMesh.cpp.o
/.idea/shelf/Uncommitted_changes_before_Checkout_at_29_01_24_23_52__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_29_01_24_23_55__Changes_.xml
/cmake-build-debug/CMakeFiles/Ray-tracing.dir/Utilities.cpp.o
/.idea/workspace.xml
